# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
kubeconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
github-deploy-key*
# vscode-sops
.config.env
setup/
bootstrap/vars/config.yaml



# Ansible
.venv*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
megalinter-reports
cert-values.yml
temp/
tmpl/

# k8s

# Ansible

# Taskfile
.tasks