---

name: Lint

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:

jobs:
  yaml:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        fetch-depth: 1
    - name: Lint YAML
      uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3
      with:
        file_or_dir: "./kubernetes"
        config_file: "./.github/yamllint.config.yaml"
