---

name: Lint

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:

jobs:
  yaml:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        fetch-depth: 1
    - name: Lint YAML
      uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3
      with:
        file_or_dir: "./kubernetes"
        config_file: "./.github/yamllint.config.yaml"
